VOLUME_DATA=/home/apps/docker/libretime/data
VOLUME_CONFIGS=/home/apps/docker/libretime/configs

WEBSITE_HOMEPAGE=http://radio-red.org
EXTERNAL_HOSTNAME=libretime.radio-red.org

POSTGRES_DB_NAME=libretime
POSTGRES_USER=
POSTGRES_PASSWORD=

RABBITMQ_DEFAULT_USER=libretime
RABBITMQ_DEFAULT_PASS=libretime  

LOCAL_MUSIC_MAPPING=/srv/airtime/stor
WEB_UI_PORT=8882

MASTER_SOURCE_PORT=8004
DJ_SOURCE_PORT=8005 
ICECAST_PORT=35112
ICECAST_LOCATION=
ICECAST_SOURCE_PASSWORD=
ICECAST_RELAY_PASSWORD=
ICECAST_ADMIN_USERNAME=
ICECAST_ADMIN_PASSWORD=
ICECAST_ADMIN_EMAIL=info@radio-red.org
ICECAST_HOSTNAME=radio-red.org 
ICECAST_MAX_CLIENTS=500  
ICECAST_MOUNT_NAME=/live 

